[mysqld]
bind-address = 0.0.0.0
max_allowed_packet = 900M
innodb_log_file_size = 900M
max_execution_time = 5000
max_input_time = 5000
memory_limit = 1000M
post_max_size = 850M
upload_max_filesize = 850M